<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asinking.com.openapi.mapper.mp.EbayProductListingMapper">

    <resultMap id="EbayProductListingEntityMap" type="com.asinking.com.openapi.entity.EbayProductListingEntity">
        <id column="id" property="id"/>
        <result column="platform" property="platform"/>
        <result column="item_id" property="itemId"/>
        <result column="item_url" property="itemUrl"/>
        <result column="picture_url" property="pictureUrl"/>
        <result column="msku" property="msku"/>
        <result column="sku" property="sku"/>
        <result column="local_sku" property="localSku"/>
        <result column="title" property="title"/>
        <result column="local_name" property="localName"/>
        <result column="attribute" property="attribute"/>
        <result column="listing_type" property="listingType"/>
        <result column="listing_type_name" property="listingTypeName"/>
        <result column="listing_status" property="listingStatus"/>
        <result column="listing_status_name" property="listingStatusName"/>
        <result column="price" property="price"/>
        <result column="start_price" property="startPrice"/>
        <result column="accept_price" property="acceptPrice"/>
        <result column="quantity" property="quantity"/>
        <result column="auto_restock" property="autoRestock"/>
        <result column="product_auto_restock_response" property="productAutoRestockResponse"/>
        <result column="location" property="location"/>
        <result column="dispatch_time_max" property="dispatchTimeMax"/>
        <result column="listing_start_time" property="listingStartTime"/>
        <result column="listing_end_time" property="listingEndTime"/>
        <result column="store_id" property="storeId"/>
        <result column="store_name" property="storeName"/>
        <result column="site_code" property="siteCode"/>
        <result column="site_name" property="siteName"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

</mapper>

