<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asinking.com.openapi.mapper.mp.EbayShopListMapper">

    <resultMap id="EbayShopListEntityMap" type="com.asinking.com.openapi.entity.EbayShopListEntity">
        <id column="id" property="id"/>
        <result column="store_id" property="storeId"/>
        <result column="sid" property="sid"/>
        <result column="store_name" property="storeName"/>
        <result column="platform_code" property="platformCode"/>
        <result column="platform_name" property="platformName"/>
        <result column="currency" property="currency"/>
        <result column="is_sync" property="isSync"/>
        <result column="status" property="status"/>
        <result column="country_code" property="countryCode"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

</mapper>

