<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asinking.com.openapi.mapper.mp.WarehouseMapper">
    <resultMap id="BaseResultMap" type="com.asinking.com.openapi.entity.WarehouseEntity">
        <id column="id" property="id"/>
        <result column="wid" property="wid"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="sub_type" property="subType"/>
        <result column="is_delete" property="isDelete"/>
        <result column="country_code" property="countryCode"/>
        <result column="wp_id" property="wpId"/>
        <result column="wp_name" property="wpName"/>
        <result column="t_warehouse_name" property="tWarehouseName"/>
        <result column="t_warehouse_code" property="tWarehouseCode"/>
        <result column="t_country_area_name" property="tCountryAreaName"/>
        <result column="t_status" property="tStatus"/>
        <result column="raw_json" property="rawJson"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
</mapper>
