<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asinking.com.openapi.mapper.mp.WarehouseInventoryDetailMapper">
    <resultMap id="BaseResultMap" type="com.asinking.com.openapi.entity.WarehouseInventoryDetailEntity">
        <id column="id" property="id"/>
        <result column="wid" property="wid"/>
        <result column="product_id" property="productId"/>
        <result column="sku" property="sku"/>
        <result column="seller_id" property="sellerId"/>
        <result column="fnsku" property="fnsku"/>
        <result column="product_total" property="productTotal"/>
        <result column="product_valid_num" property="productValidNum"/>
        <result column="product_bad_num" property="productBadNum"/>
        <result column="product_qc_num" property="productQcNum"/>
        <result column="product_lock_num" property="productLockNum"/>
        <result column="good_lock_num" property="goodLockNum"/>
        <result column="bad_lock_num" property="badLockNum"/>
        <result column="stock_cost_total" property="stockCostTotal"/>
        <result column="quantity_receive" property="quantityReceive"/>
        <result column="stock_cost" property="stockCost"/>
        <result column="product_onway" property="productOnway"/>
        <result column="transit_head_cost" property="transitHeadCost"/>
        <result column="average_age" property="averageAge"/>
        <result column="expect_valid_num" property="expectValidNum"/>
        <result column="expect_pending_num" property="expectPendingNum"/>
        <result column="available_inventory_box_qty" property="availableInventoryBoxQty"/>
        <result column="purchase_price" property="purchasePrice"/>
        <result column="price" property="price"/>
        <result column="head_stock_price" property="headStockPrice"/>
        <result column="stock_price" property="stockPrice"/>
        <result column="third_inventory_json" property="thirdInventoryJson"/>
        <result column="stock_age_list_json" property="stockAgeListJson"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
</mapper>
